.container {
  .image-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
      opacity: 0.9;
    }

    .image-item {
      height: 50vh;
      width: 50vw;
      object-fit: contain;

      &:hover {
        height: 100vh;
        width: 100vh;
        cursor: pointer;
      }
    }
  }
}
