<div class="app-side-nav-container">
  <div (click)="toggleMenu()" *ngIf="!showMenu" class="menu-icon">
    <app-hamburger-menu-icon
      [menuStyles]="menuStyles"
    ></app-hamburger-menu-icon>
  </div>
  <div *ngIf="showMenu" class="category-list">
    <div class="close-icon" (click)="toggleMenu()">x</div>
    <div *ngFor="let category of categoriesArray" class="category-item">
      <span
        (click)="handleCategoryNavigation(category.code)"
        class="category-title"
        >{{ category.title }}</span
      >
    </div>
  </div>
</div>
